assets/minecraft/textures/font/downloaded.*
assets/minecraft/textures/font/tmp.*
__pycache__
new
bloodstone3.zip
resourcepack*.zip
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
*.bak
.env
.env.*
!.env.example
